@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Roboto:ital@0;1&display=swap');
/* Верхняя часть */
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 100px;
    background: #F4F4F4;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__conteiner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 12px;
    gap: 10px;
    width: 1024px;
    height: 100px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.header__control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 20px;
    gap: 10px;
    width: 1000px;
    height: 48px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.header__control-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 169px;
    height: 26px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__main-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    width: 80px;
    height: 26px;
    background: #0271C7;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
.header__input-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 250px;
    height: 28px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.header__icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 20px;
    height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    width: 210px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/* Основная часть */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 1440px;
    height: 700px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}
.main__conteiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 12px;
    width: 1024px;
    height: 700px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.main__buttom-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    gap: 10px;
    width: 1000px;
    height: 48px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.main__month-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 220px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.main__batton-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    width: 32px;
    height: 24px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    flex: none;
    flex-grow: 0;
    cursor: pointer;
}   
.main__icon-1{
    order: 0;
}
.main__icon-2{
    order: 2;
    transform: rotate(-180deg);
}
.main__icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 20px;
    height: 20px;
    
}

.main__text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 108px;
    height: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 18px;
    line-height: 21px;
    color: #292929;
}

.main__extra_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    width: 59px;
    height: 18px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.main__extra-text{
    font-size: 12px;
    line-height: 14px;
    color: #292929;
}
.main__table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 1000px;
    height: 600px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-size: 14px;
    line-height: 16px;
    color: #6B6B6B;
}
.main__table-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 1000px;
    height: 120px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}
.table-row-1{
    order: 0;
}
.table-row-2{
    order: 1;
}
.table-row-3{
    order: 2;
}
.table-row-4{
    order: 3;
}
.table-row-5{
    order: 4;
}

.table__cell{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 143px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #292929;
    flex: none;
    flex-grow: 0;
}
.table__cell:hover{
    background: #F4F4F4;
}
.table__cell:active{
    box-shadow: 0px 0px 10px 2px #0271C7;
}
.table-cell-1{
    order: 0;
}
.table-cell-2{
    order: 1;

}.table-cell-3{
    order: 2;
}
.table-cell-4{
    order: 3;
}
.table-cell-5{
    order: 4;
}
.table-cell-6{
    order: 5;
}
.table-cell-7{
    order: 6;
}
.table-cell-color{
    background: #C2E4FE;
}
.cell__heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 127px;
    height: 16px;
}
.cell__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 127px;
    height: 16px;
    color: #292929;
}
.cell__description{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 127px;
    height: 56px;
}

/* Всплывающее окно быстрого добавления */

.fast__popup{
    position: absolute;
    width: 300px;
    height: 104px;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
    display: none;
}
.fast__popup.active {
    display: block;
}
.fast-decorate{

    position: absolute;
    width: 24px;
    height: 14px;
}
.fast-popup__conteiner{
    display: flex;
    margin: 10px 0 0 ;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    position: absolute;
    width: 300px;
    height: 94px;
    background: #FFFFFF;
 
}
.conteiner__frame-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    height: 8px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.fast-popup-clouse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 20px;
    height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}
.conteiner__frame-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 276px;
    height: 28px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 12px;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.conteiner__frame-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 276px;
    height: 18px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}
.fast-extra-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    width: 59px;
    height: 18px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
}

/* Основное всплывающее окно */


.key-popup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    position: fixed;
    width: 290.32px;
    height: 340px;
    background: #FFFFFF;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
    display: none;
    top: 40%;
    left:40%;
    z-index: 999;
}
.key-popup.active{
    display: block;
}

.key-popup-blok-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    height: 8px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.key-popup-blok-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 266.32px;
    height: 28px;
    margin-top: 8px;

    flex: none;
    align-self: stretch;
    flex-grow: 1;
    padding: 6px 12px;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.key-item-1{
    order: 1;
}
.key-item-2{
    order: 2;
}
.key-blok-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 16px;
    width: 266.32px;
    height: 44px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}
.key-item-3{
    /* margin-bottom: 24px; */
    order: 3;
}
.key-item-4{
    resize: none;
    align-items: flex-start;
    height: 125px;
    order: 4;
    margin-bottom: 8px;

}
::placeholder{
    font-size: 14px;
}
.key-popup-blok-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 266.32px;
    height: 18px;
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}
.key-extra-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    width: 51px;
    height: 18px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #292929;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px
}

